* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    /* border: 5px solid blue; */
}

header,
.main,
.gallery,
.quote {
    /* max-width: 80%; */
    padding: 20px 15%;
}



header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.header-links {
    display: flex;
    gap: 25px;
}

header a {
    color: white;
}



.main {
    display: flex;
    gap: 60px;
    background-color: #1f2937;
    color: white;
    padding-bottom: 75px;
    padding-top: 50px;
}

.main-left {
    flex: 1 1 35%;
}

.main h1 {
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main p {
    margin-bottom: 12px;
    font-size: 18PX;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 5px 15px;
    border-radius: 5px;
}

.main-img {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}



.gallery {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

.gallery h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 50px;
}

.gallery-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 0 0 200px;
}

.gallery-img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}



.quote {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #E5E7EB;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 0 50px;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}



footer {
    margin-top: auto;
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}